.body {
  margin: 0;
}

.navbar {
  /* border: 2px solid black; */
  position: sticky;
  top: 0;
  text-align: center;
}

.asa {
  position: absolute;
  left: 0;
  margin-top: 1rem;
}

.fffff {
  width: 25px;
}
.row {
  /* border: 2px solid black; */
  display: inline-block;
}

.right {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.left {
  /* border: 2px solid black; */
  margin-right: 40rem;
  color: grey;
}

.center {
  /* border: 2px solid black; */
  margin-right: 45rem;
}

.colorcenter {
  color: gray;
}

.colorbutoon1 {
  color: white;
  border-radius: 10px;
  background-color: black;
}

.colorbutoon2 {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.mainindex {
  /* border: 2px solid black; */

  text-align: center;
  padding: 20rem;
}
.center-section {
  /* border: 2px solid black; */
  text-align: center;
}

.daniel {
  padding-left: 10rem;
  border-radius: 20rem;
}
.button-d {
  display: block;
}

.d {
  position: relative;
  background-color: white;
  border-radius: 20px;
  color: grey;
}
.right-d {
  margin-left: 10rem;
}

.body2 {
  background: #ffcfde;
  background: radial-gradient(
    circle,
    rgba(255, 207, 222, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.main-img {
  /* border: 2px solid black; */
  height: 3000px;
}

.article-h1 {
  position: absolute;
  margin-left: 30rem;
  /* border: 2px solid black; */
  padding: 1rem;
}

.arrow {
  position: absolute;
  margin-left: 85rem;
  /* border: 2px solid black; */
  margin-top: 5rem;
  padding: 1rem;
}

.img {
  position: absolute;
  margin-top: 8rem;
  margin-left: 20rem;
}

.dada {
  position: absolute;
  margin-left: 30rem;
  /* border: 2px solid black; */
  padding: 1rem;
  margin-top: 30rem;
}

.bbbb {
  position: absolute;
  margin-left: 73rem;
  /* border: 2px solid black; */
  margin-top: 30rem;
  padding: 1rem;
}

.imges {
  position: absolute;
  width: 2rem;
  /* border: 2px solid black; */
  margin-left: 35rem;
  margin-top: 35rem;
}

.i {
  width: 2rem;
  /* border: 2px solid black; */
}

.imge {
  position: absolute;
  width: 2rem;
  /* border: 2px solid black; */
  margin-left: 60rem;
  margin-top: 35rem;
}
.j {
  width: 2rem;
  /* border: 2px solid black; */
  margin-right: 40px;
}

.piska {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 63rem;
  margin-top: 35rem;
  padding: 1rem;
}

.piska2 {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  /* border: 2px solid black; */
  margin-left: 39rem;
  margin-top: 35rem;
  padding: 1rem;
}

h1 {

  font-family: "Times New Roman", Times, serif;
}

.mainagent {
  border: 2px solid black;
  position: relative;
}

